USE [master]
GO
/****** Object:  Database [FACTURACION1.5]    Script Date: 30/8/2024 16:10:18 ******/
CREATE DATABASE [FACTURACION1.5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FACTURACION1.5', FILENAME = N'C:\Program Files\Microsoft SQL Server 2022\MSSQL16.SQLEXPRESS03\MSSQL\DATA\FACTURACION1.5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FACTURACION1.5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server 2022\MSSQL16.SQLEXPRESS03\MSSQL\DATA\FACTURACION1.5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FACTURACION1.5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FACTURACION1.5]
GO
/****** Object:  Table [dbo].[INVOICE_DETAIL]    Script Date: 30/8/2024 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE_DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INVOICE_ID] [int] NULL,
	[PRODUCT_ID] [int] NULL,
	[QUANTITY] [int] NULL,
 CONSTRAINT [PK_INVOICE_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICES]    Script Date: 30/8/2024 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PAYDAY] [datetime] NULL,
	[PAYMENT_METHOD] [int] NULL,
	[CLIENT] [varchar](50) NULL,
 CONSTRAINT [PK_INVOICE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_METHODS]    Script Date: 30/8/2024 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_METHODS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](50) NULL,
 CONSTRAINT [PK_PAYMENT_METHODS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 30/8/2024 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PNAME] [varchar](50) NULL,
	[PRICE] [decimal](10, 2) NULL,
	[AVAILABLE] [bit] NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INVOICE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_DETAIL_INVOICE] FOREIGN KEY([INVOICE_ID])
REFERENCES [dbo].[INVOICES] ([ID])
GO
ALTER TABLE [dbo].[INVOICE_DETAIL] CHECK CONSTRAINT [FK_INVOICE_DETAIL_INVOICE]
GO
ALTER TABLE [dbo].[INVOICE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_DETAIL_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCTS] ([ID])
GO
ALTER TABLE [dbo].[INVOICE_DETAIL] CHECK CONSTRAINT [FK_INVOICE_DETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_PAYMENT_METHOD] FOREIGN KEY([PAYMENT_METHOD])
REFERENCES [dbo].[PAYMENT_METHODS] ([ID])
GO
ALTER TABLE [dbo].[INVOICES] CHECK CONSTRAINT [FK_INVOICE_PAYMENT_METHOD]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_PRODUCT]    Script Date: 30/8/2024 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_PRODUCT]
@ID INT
AS
BEGIN
	UPDATE PRODUCTS
	SET AVAILABLE = 0
	WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_INVOICE]    Script Date: 30/8/2024 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_INVOICE]
@ID INT,
@PAYDAY DATE,
@PAYMENT_METHOD INT,
@CLIENT VARCHAR(50)
AS
BEGIN
	INSERT INTO INVOICES(ID, PAYDAY, PAYMENT_METHOD, CLIENT)
							VALUES(@ID, @PAYDAY, @PAYMENT_METHOD, @CLIENT)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_INVOICE_DETAIL]    Script Date: 30/8/2024 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_INVOICE_DETAIL]
@ID INT,
@INVOICE_ID INT,
@PRODUCT_ID INT,
@QUANTITY INT
AS
BEGIN
	INSERT INTO INVOICE_DETAIL(ID, INVOICE_ID, PRODUCT_ID, QUANTITY)
							VALUES(@ID, @INVOICE_ID, @PRODUCT_ID, @QUANTITY)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_PRODUCT]    Script Date: 30/8/2024 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_PRODUCT]
@ID INT,
@NAME VARCHAR(50),
@PRICE DECIMAL(10, 2),
@AVAILABLE BIT
AS
BEGIN
	INSERT INTO PRODUCTS(ID, PNAME, PRICE, AVAILABLE)
							VALUES(@ID, @NAME, @PRICE, @AVAILABLE)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_ALL_INVOICES]    Script Date: 30/8/2024 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SELECT_ALL_INVOICES]
AS
BEGIN
	SELECT * FROM INVOICES
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_ALL_PRODUCTS]    Script Date: 30/8/2024 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SELECT_ALL_PRODUCTS]
AS
BEGIN
	SELECT * FROM PRODUCTS
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_INVOICE_BY_DATE]    Script Date: 30/8/2024 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SELECT_INVOICE_BY_DATE]
@DATE DATE
AS
BEGIN
	SELECT * FROM INVOICES I WHERE I.PAYDAY = @DATE
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_INVOICE_DETAIL_FROM_INVOICE]    Script Date: 30/8/2024 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SELECT_INVOICE_DETAIL_FROM_INVOICE]
@INVOICE_ID INT
AS
BEGIN
	SELECT * FROM INVOICE_DETAIL ID WHERE ID.INVOICE_ID = @INVOICE_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_PAYMENT_METHODS]    Script Date: 30/8/2024 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SELECT_PAYMENT_METHODS]
AS
BEGIN
	SELECT * FROM PAYMENT_METHODS
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_PRODUCT_BY_NAME]    Script Date: 30/8/2024 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SELECT_PRODUCT_BY_NAME]
@NAME VARCHAR(50)
AS
BEGIN
	SELECT * FROM PRODUCTS P WHERE P.PNAME = @NAME
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PRODUCT]    Script Date: 30/8/2024 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_PRODUCT]
@ID INT,
@NAME VARCHAR(50),
@PRICE DECIMAL(10, 2)
AS
BEGIN
	UPDATE PRODUCTS
	SET PNAME = @NAME, PRICE = @PRICE
	WHERE ID = @ID		
END
GO
USE [master]
GO
